body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div {
  text-align: center;
}

div a {
  color: #00b7ff;
  background-color: rgb(249, 244, 244);
  padding: 6px 18px;
  text-decoration: none;
}
