<!DOCTYPE html>
<html>
  <head>
    <title>BookStore.com</title>
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <%- include('partials/header') -%>
    <div class="store">
      <a href="/books"><button>Go to BookStore</button></a>
    </div>

    <%- include('partials/footer') -%>
  </body>
</html>
