<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/newArticleForm.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <title>Article Form</title>
  </head>
  <body>
    <%- include('partials/header') -%>
    <div class="article-form">
      <h2>Create a New Article</h2>
      <form action="/articles" method="POST" id="articleForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required />

        <label for="description">Description:</label>
        <textarea
          id="description"
          name="description"
          rows="4"
          required
        ></textarea>

        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="tags" />

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" />

        <label for="likes">Likes:</label>
        <input type="number" id="likes" name="likes" />

        <button type="submit">Submit</button>
      </form>
    </div>
    <%- include('partials/footer') -%>
  </body>
</html>
